body,
html,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* #code-input{
    width: 50%;
    } */
    
    .el-step__title{
        font-size: 9px;
      }
 .is-process{
         /* background-color: red; */
      }